/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
deps/
_build/
novel_engine/
deps/
_build/
code_lingo/deps/
code_lingo/_build/
novel_engine/deps/
novel_engine/_build/
